---
layout: default
title: Home
---

<!-- Typed.js -->
<script src="/assets/js/jquery-1.11.2.min.js"></script>
<script src="/assets/js/typed.js" type="text/javascript"></script>
<script>
  $(function(){
    $(".typed1").typed({
      strings: ["ecentralized "],
      typeSpeed: 70,
      loop: true,
      backDelay: 1500
    });
  });
</script>
<script>
  $(function(){
    $(".typed2").typed({
      strings: ["utonomous "],
      typeSpeed: 70,
      loop: true,
      backDelay: 1500
    });
  });
</script>
<script>
  $(function(){
    $(".typed3").typed({
      strings: ["rganizations "],
      typeSpeed: 70,
      loop: true,
      backDelay: 1500
    });
  });
</script>

<div class="typed-js-hide">
  <div class="row">
    <div class="col-sm-16">
      <div class="text-center" style="color: #444">
          <h2>D<span class="typed1"></span></h2>
          <h2>A<span class="typed2"></span></h2>
          <h2>O<span class="typed3"></span></h2>
      </div>
    </div>
  </div>
</div>


<section class="archive">
{% for post in site.posts %}
{% unless post.next %}

  {% unless forloop.first %}
    </div>
  </div>
  {% endunless %}

  <div class="archive-item fadeInDown animated">
    <h2>{{ post.date | date: '%Y' }}</h2>
    <div>

{% else %}

{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
{% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}

{% if year != next_year %}

  {% unless forloop.first %}
    </div>
  </div>
  {% endunless %}

  <div class="archive-item fadeInDown animated">
    <h2>{{ post.date | date: '%Y' }}</h2>
    <div>

{% endif %}
{% endunless %}

  <article>
    <a href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
    <div class="post-date">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%-d %B" }}</time>
    </div>
  </article>

  {% if forloop.last %}
    </div>
  </div>
  {% endif %}

{% endfor %}

</section>
